---
- name: Install xfce
  community.general.pacman:
    name: "{{ xfce_packages }}"

# For the time being, I'll stick to xscreensaver
- name: Uninstall xfce4-screensaver
  community.general.pacman:
    name: xfce4-screensaver
    state: absent

- name: Install xscreensaver
  ansible.builtin.import_role:
    name: xscreensaver
