---
- name: Start VirtualBox service
  ansible.builtin.systemd:
    name: vboxservice
    state: started
    enabled: true

- name: Enable QEMU guest agent
  ansible.builtin.systemd:
    name: qemu-guest-agent
    state: stopped
    enabled: true
