/ansible/*.retry
/ansible/group_vars/all/*
!/ansible/group_vars/all/00-default.yaml
/ansible/collections/
/ansible/extra_roles/
/vagrant/.vagrant/
/packer/packer_cache/
/packer/output-*/
__pycache__/
