---
- name: Copy xinitrc to user home
  become: true
  become_user: "{{ item }}"
  ansible.builtin.copy:
    src: xinitrc
    dest: "{{ users_created | user_home(item) }}/.xinitrc"
    mode: "0644"
  loop: "{{ users_names }}"
