---
- name: Install batch of packages
  become: true
  become_user: "{{ passwordless_sudo_user_name }}"
  retries: 5
  delay: 5
  ansible.builtin.command: >
    yay -S
      --answerclean none --answeredit none --answerupgrade none --answerdiff none
      --removemake --noconfirm --combinedupgrade --needed
      {% for pkg in packages %}
        {{ pkg | quote }}
      {% endfor %}
