---
- name: Install nix packages
  become: true
  become_user: "{{ item }}"
  ansible.builtin.command: nix-env -iA {% for pkg in packages %}nixpkgs.{{ pkg | quote }} {% endfor %}
  loop: "{{ users_names }}"
