DEFAULT arch
PROMPT 0
TIMEOUT 50
UI menu.c32

LABEL arch
    MENU LABEL Arch Linux
    LINUX ../vmlinuz-linux
    APPEND root=UUID={{ root_uuid }} rw quiet
    INITRD ../initramfs-linux.img

LABEL archfallback
    MENU LABEL Arch Linux Fallback
    LINUX ../vmlinuz-linux
    APPEND root=UUID={{ root_uuid }} rw quiet
    INITRD ../initramfs-linux-fallback.img