---
- name: Install KVM additions
  ansible.builtin.import_role:
    name: packages
  vars:
    packages:
      - spice-vdagent
      - qemu-guest-agent
  notify: Enable QEMU guest agent
  register: _self
  changed_when: _self.changed or (run_handlers | default(false))

- name: Enable guest screen resizing
  ansible.builtin.include_tasks: guest_resize.yaml
