---
# Can't use role packages here, it depends on us
- name: Install git for yay to use
  community.general.pacman:
    name: git
    state: present

- name: Install yay
  ansible.builtin.import_role:
    name: makepkg
  vars:
    packages:
      - yay-bin
    build_user: "{{ passwordless_sudo_user_name }}"
