- name: Install git for yay to use
  pacman:
    name: git
    state: present

- name: Install yay
  include_role:
    name: makepkg
  vars:
    packages:
      - yay-bin
    build_user: "{{ global_passwordless_sudo_user }}"
