---
- name: Install GRUB2 package
  ansible.builtin.import_role:
    name: pacstrap
  vars:
    chroot: "{{ partitioning_root_mount_point }}"
    packages:
      - grub
      - grub-btrfs
      - inotify-tools

- name: Install GRUB2
  ansible.builtin.command: arch-chroot {{ partitioning_root_mount_point | quote }} /usr/bin/grub-install {{ partitioning_priv_device_node | quote }}

- name: Generate GRUB2 configuration file
  ansible.builtin.command: arch-chroot {{ partitioning_root_mount_point | quote }} /usr/bin/grub-mkconfig -o /boot/grub/grub.cfg

- name: Enable grub-btrfs
  ansible.builtin.command: systemctl --root={{ partitioning_root_mount_point | quote }} enable grub-btrfsd.service # noqa: command-instead-of-module
