---
- name: Install packages for Dracula theme
  ansible.builtin.import_role:
    name: packages
  vars:
    packages: "{{ de_eyecandy_packages_dracula }}"

- name: Create local backgrounds/themes/icons folders
  ansible.builtin.file:
    state: directory
    path: /usr/local/share/{{ item }}
    mode: "0755"
  loop:
    - backgrounds
    - icons
    - themes

- name: Remove any existing Dracula theme
  ansible.builtin.file:
    state: absent
    path: /usr/local/share/{{ item }}/Dracula
  loop:
    - icons
    - themes

- name: Remove any potential extraction leftover
  ansible.builtin.file:
    state: absent
    path: /usr/local/share/themes/gtk-master

- name: Download GTK theme
  ansible.builtin.unarchive:
    remote_src: true
    src: "{{ de_eyecandy_dracula_gtk }}"
    dest: "/usr/local/share/themes"

- name: Give the theme a meaningful folder name
  ansible.builtin.shell: mv /usr/local/share/themes/{gtk-master,Dracula}
- name: Download icon theme
  ansible.builtin.unarchive:
    remote_src: true
    src: "{{ de_eyecandy_dracula_icons }}"
    dest: "/usr/local/share/icons"

- name: Create the icon cache
  ansible.builtin.command: gtk-update-icon-cache -f /usr/local/share/icons/Dracula

# Credits for this wallpaper:
# http://getwallpapers.com/wallpaper/full/d/0/f/718768-free-download-dark-purple-backgrounds-1920x1080.jpg
- name: Copy wallpaper
  ansible.builtin.copy:
    src: dracula/wallpaper.jpg
    dest: /usr/local/share/backgrounds/dracula_wallpaper.jpg
    mode: "0644"

- name: Set the theme as default fot GTK apps
  when: item_theme.default | default(False, True)
  ansible.builtin.include_tasks: gtk_settings.yaml
  vars:
    theme: Dracula
    icon_theme: Dracula
