---
- name: Install packages for Equilux theme
  ansible.builtin.import_role:
    name: packages
  vars:
    packages: "{{ de_eyecandy_packages_equilux }}"

- name: Create local backgrounds folder
  ansible.builtin.file:
    state: directory
    path: /usr/local/share/backgrounds
    mode: "0755"

# Credits for this wallpaper:
# https://hdqwalls.com/grey-material-design-4k-wallpaper
- name: Copy wallpaper
  ansible.builtin.copy:
    src: equilux/wallpaper.jpg
    dest: /usr/local/share/backgrounds/equilux_wallpaper.jpg
    mode: "0644"

- name: Set the theme as default fot GTK apps
  when: item_theme.default | default(False, True)
  ansible.builtin.include_tasks: gtk_settings.yaml
  vars:
    theme: Equilux-compact
    icon_theme: kora
