---
- name: Install packages for Numix theme
  ansible.builtin.import_role:
    name: packages
  vars:
    packages: "{{ de_eyecandy_packages_numix }}"

- name: Set the theme as default
  when: item_theme.default | default(False, True)
  block:
    - name: GTK
      ansible.builtin.include_tasks: gtk_settings.yaml
      vars:
        theme: Numix
        icon_theme: Numix
        cursor_theme: Numix-Cursor-Light
    - name: X
      ansible.builtin.include_tasks: x_settings.yaml
      vars:
        cursor_theme: Numix-Cursor-Light
