---
- name: Set X cursor
  become: true
  become_user: "{{ item }}"
  when: cursor_theme | default("", true) | length != 0
  loop: "{{ users_names }}"
  ansible.builtin.lineinfile:
    path: "{{ users_created | user_home(item) }}/.Xresources"
    create: true
    mode: "0644"
    regexp: "^\\s*Xcursor.theme\\s*:"
    line: "Xcursor.theme: {{ cursor_theme }}"
