---
- name: Create the EFI partition
  community.general.parted:
    device: "{{ partitioning_priv_device_node }}"
    state: present
    label: gpt
    number: 1
    name: ESP
    part_start: "{{ 1024 * 1024 }}B"
    part_end: "{{ partitioning_priv_esp_size | int + 1024 * 1024 - 1 }}B"
    flags:
      - esp

- name: Create the root partition
  community.general.parted:
    device: "{{ partitioning_priv_device_node }}"
    state: present
    label: gpt
    number: 2
    name: root
    part_start: "{{ partitioning_priv_esp_size | int + 1024 * 1024 }}B"

- name: Enumerate created partitions
  ansible.builtin.shell: set -o pipefail && lsblk -n -o PATH {{ partitioning_priv_device_node | quote }} | tail -n +2
  register: _partitions
  changed_when: false

- name: Assign partitions to variables
  ansible.builtin.set_fact:
    partitioning_priv_esp_device_node: "{{ _partitions.stdout_lines[0] }}"
    partitioning_priv_root_device_node: "{{ _partitions.stdout_lines[1] }}"

- name: Format the ESP
  community.general.filesystem:
    dev: "{{ partitioning_priv_esp_device_node }}"
    fstype: vfat

- name: Format the root partition
  community.general.filesystem:
    dev: "{{ partitioning_priv_root_device_node }}"
    fstype: ext4

- name: Mount the root partition
  ansible.posix.mount:
    state: mounted
    src: "{{ partitioning_priv_root_device_node }}"
    path: "{{ partitioning_root_mount_point }}"
    fstype: ext4

- name: Create /boot/efi mountpoint
  ansible.builtin.file:
    state: directory
    name: "{{ partitioning_root_mount_point }}/boot/efi"
    recurse: true

- name: Mount the ESP
  ansible.posix.mount:
    state: mounted
    src: "{{ partitioning_priv_esp_device_node }}"
    path: "{{ partitioning_root_mount_point }}/boot/efi"
    fstype: vfat
