---
- name: Add lvm2 hook to mkinitcpio config
  ansible.builtin.lineinfile:
    backrefs: true
    regexp: ^(HOOKS=.*)(filesystems.*)$
    line: \1lvm2 \2
    path: "{{ partitioning_root_mount_point }}/etc/mkinitcpio.conf"

- name: Ensure /etc/vconsole.conf exists
  ansible.builtin.file:
    state: touch
    path: "{{ partitioning_root_mount_point }}/etc/vconsole.conf"
    mode: "0644"

- name: Regenerate initramfs
  ansible.builtin.command: arch-chroot {{ partitioning_root_mount_point | quote }} mkinitcpio -P
