---
- name: Install the base system
  hosts: all
  tags:
    - bootstrap
    - never
  environment: "{{ global_proxy_env }}"
  roles:
    - role: custom_repos
    - role: disksetup
    - role: configure
  post_tasks:
    - name: Reboot into the system
      tags: reboot
      ansible.builtin.reboot:

- name: Configure the installed system
  hosts: all
  tags: mainconfig
  environment: "{{ global_proxy_env }}"
  roles:
    # The hostname is set once during bootstrap and once here. The idea is to
    # set it as early as possible, but if bootstrap is skipped (i.e.
    # provisioning with Vagrant) we do it again here.
    - role: hostname
    - role: custom_repos
    - role: users
    - role: locale
    - role: proxy
    - role: wireless
    - role: virtguest
      when: virtguest_enabled | default(True) | bool
    - role: xfce_user_customizations
      when: xfce_user_customizations_enabled | default(True) | bool
    - role: yay_user_customizations
      when: yay_user_customizations_enabled | default(True) | bool
    - role: ttf_fonts
      when: ttf_fonts_enabled | default(True) | bool
    - role: utils
      when: utils_enabled | default(True) | bool
    - role: xutils
      when: xutils_enabled | default(True) | bool
    - role: bluetooth
      when: bluetooth_enabled | default(True) | bool
    - role: i3wm
      when: i3wm_enabled | default(False) | bool
    - role: nix
      when: nix_enabled | default(False) | bool
  tasks:
    - name: Call custom roles
      ansible.builtin.include_role:
        name: "{{ custom_roles_entry_point }}"
      when: custom_roles_entry_point | default("") != ""

- name: Clean and reboot
  hosts: all
  tags: mainconfig
  environment: "{{ global_proxy_env }}"
  roles:
    - role: clean
  post_tasks:
    - name: Reboot the system
      ansible.builtin.reboot:
      tags: reboot
