---
- name: Clear pacman caches if there are leftover folders
  ansible.builtin.shell: rm -rf /var/cache/pacman/pkg/download-*

# Yay never gets its own input if we do something like:
# printf "y\nn\ny\n" | LC_ALL=C yay -Scc
# because pacman runs first and consumes all input.
# So we first explicitly run pacman to clean its own stuff
# and later we run yay, disabling its call to pacman
# with --pacman true.
- name: Clear pacman caches
  ansible.builtin.shell: set -o pipefail && printf "y\nn\n" | LC_ALL=C pacman -Scc
- name: Clear yay caches
  ansible.builtin.shell: set -o pipefail && printf "y\n" | LC_ALL=C yay -Scc --pacman true
  become: true
  become_user: "{{ passwordless_sudo_user_name }}"

- name: Remove proxy settings
  ansible.builtin.import_role:
    name: proxy
  vars:
    state: absent
  when: global_portable_image | default(False) | bool

- name: Remove custom repos
  ansible.builtin.import_role:
    name: custom_repos
  vars:
    state: absent
  when: global_portable_image | default(False) | bool
