---
- name: Install nix
  ansible.builtin.import_role:
    name: packages
  vars:
    packages: "{{ nix_self_packages }}"

- name: Start nix-daemon
  ansible.builtin.service:
    enabled: true
    state: started
    name: nix-daemon

- name: Add the default nix channel for all users
  become: true
  become_user: "{{ item }}"
  ansible.builtin.shell: nix-channel --add {{ nix_default_channel | quote }} nixpkgs && nix-channel --update
  loop: "{{ users_names }}"

- name: Set facts about Nix installation
  ansible.builtin.set_fact:
    _install_nix: false
