---
- name: Create a user that can use passwordless sudo
  ansible.builtin.user:
    name: "{{ passwordless_sudo_user_name }}"
    shell: /bin/bash
    password: "!"
    system: true
  notify: Delete passwordless sudo user
  changed_when: true # Always mark as changed, so that the handler can be invoked

- name: Add passwordless sudo user to sudoers
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    state: present
    regexp: "^{{ passwordless_sudo_user_name | regex_escape }} "
    line: "{{ passwordless_sudo_user_name }} ALL=(ALL) NOPASSWD: ALL"
    validate: "/usr/sbin/visudo -cf %s"
