name: Test the playbook

on:
  workflow_dispatch:

jobs:
  install_media:
    runs-on: [self-hosted, Linux]
    strategy:
      matrix:
        config:
          - disksetup: disksetup/mbr_singlepart/
            provider: virtualbox-iso
          - disksetup: disksetup/mbr_lvm/
            provider: qemu
          - disksetup: disksetup/bios_gpt_btrfs/
            provider: virtualbox-iso
          - disksetup: disksetup/gpt_singlepart/
            provider: virtualbox-uefi
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/runner-cleanup
      - name: Select the partitioning flow
        run: |
          echo 'disksetup_roles_prefix:  ${{ matrix.config.disksetup }}' > ansible/group_vars/all/91-ci-disksetup.yaml
      - name: Perform system installation
        run: |
          cd packer
          sudo ./packer-wrapper.sh build -only=${{ matrix.config.provider }} -timestamp-ui packer-template.json

  vagrant_provision:
    runs-on: [self-hosted, linux]
    strategy:
      matrix:
        provider: [virtualbox, libvirt]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/runner-cleanup
      - name: Bring Vagrant VM up
        run: |
          cd vagrant
          sudo vagrant up --provider ${{ matrix.provider }}
          sudo vagrant halt
